:host {
  border: 2px solid #3b013b;
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  display: block;
}

form input {
  color: #3b013b;
  padding: 0.1rem 0.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  padding: 0.25rem 0.5rem;
  border: 1px solid #3b013b;
  background-color: #3b013b;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
}

form button:hover,
form button:active {
  background-color: #5f105f;
}
